<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Capricho — {% block title %}{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/components/flash.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/components/header.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/components/buttons.css') }}">
        {% block extra_css %}{% endblock %}
    </head>
    <body>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-container">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block header %}
        <header class="cabecalho">
            <a href="/" class="cabecalho-titulo">Capricho</a>
        </header>
        {% endblock %}

        <main>
            {% block content %}{% endblock %}
        </main>

    </body>
</html>