<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Capricho — Restaurantes</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-container">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <header class="cabecalho">
            <h1 class="cabecalho-titulo">Capricho</h1>
            <!-- 
            <menu class="cabecalho-menu">
                <button class="cabecalho-botao">Adicionar</button>
                <button class="cabecalho-botao">Editar</button>
                <button class="cabecalho-botao">Excluir</button>
            </menu>
            -->
            <div class="cabecalho-usuario">
                <button class="cabecalho-botao"><a href="/login">Log-in</a></button>
                <img name="usuario-foto" src="{{ url_for('static', filename='img/user.png') }}" alt="Foto do usuário" class="cabecalho-usuario-foto">
            </div>
        </header>
        <main> 
            <div class="wrap">
                <div class="categorias">
                    {% for categoria in categorias %}
                    <a href="?categoria={{categoria}}" class="{{ 'ativa' if categoria_selecionada == categoria else ''}}">{{ categoria }}</a>
                    {% endfor %}
                </div>
                <div class="grid">
                    {% for restaurante in restaurantes %}
                    <a class="card" href="#">
                        <div class="card-imagem">imagem</div>
                        <div class="card-info">
                            <span class="categoria">{{ restaurante._categoria }}</span>
                            <h3>{{ restaurante._nome }}</h3>
                            <p class="avaliacao">{{ restaurante.qntd_estrelas }} <span>{{ restaurante.media_avaliacoes }} ({{ restaurante.total_avaliacoes }})</span></p>
                            <div class="meta"><span>{{ restaurante._delivery._tempo_entrega }}</span><span>{{ restaurante._delivery._taxa_entrega }}</span></div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </main>
    </body>
</html>
