{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block extra_css %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/components/forms.css') }}">

{% endblock %}

{% block content %}

    <div class="wrap form-wrap">
        <div class="form-card">
            <h2>Entrar</h2>
            <form action="/login/auth" method="POST">
                <div class="input-group">
                    <label for="usuario">Usuário</label>
                    <input type="text" id="usuario" name="usuario" required placeholder="Digite seu usuário">
                </div>
                
                <div class="input-group">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" name="senha" required placeholder="Digite sua senha">
                </div>
                
                <button type="submit" class="btn-primario">Entrar</button>
            </form>
            <p class="form-footer">
                Não tem uma conta? <a href="/signin">Cadastre-se</a>
                <br>
                <a href="#">Esqueceu a senha?</a>
            </p>
        </div>
    </div>
    
{% endblock %}